/* footer */

footer{width: 100%; background-color: #DEDEDE;font-size: 13px; color: #494949;}

.footer_wrap{width: 1055px; margin: 0 auto;}


/* 푸터 _ 상단 */

.footer_top{display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #A4A4A4; padding: 20px 0px 10px;}

/* 패밀리 사이트 */

.familySite .famMenu {display: flex;flex-direction: row;gap: 4px;position: relative;bottom: 5px;}

.familySite .famMenu .textWrap .text {cursor: pointer;display: flex;gap: 10px;}
    
.familySite .famMenu .textWrap input {width: 0px;height: 0px;}
    
.familySite .famMenu .textWrap .familySiteList {background-color: #fff;border: 0px solid#ebebeb;position: absolute;max-height:30vh;overflow-y: scroll;width: 172px;height: 0;bottom: 30px;}
    
.familySite .famMenu .textWrap .familySiteList a{padding: 10px;cursor: pointer;display: block;}
    
.familySite .famMenu .textWrap .familySiteList a:hover {color: #000000;background-color: #FF6C00;}
    
.familySite .famMenu input[type='checkbox']:checked + label .familySiteList {height: auto;padding: 8px 0;border: 0.5px solid #ebebeb;box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);}
    
.familySite .famMenu .icon {width: 16px;height: 16px;min-width: 14px;min-height: 14px;overflow: hidden;font-size: 1px;}
    
.familySite .famMenu .icon img {width: 100%;}
    
.familySite .famMenu:hover .icon {color: #FF6C00; font-weight: bold;}

/* 푸터 _ 하단 */

.footer_bottom{display: flex; justify-content: space-between; align-items: center;padding-top: 10px;}

.footer_menu ul{display: flex; gap: 30px; padding-top: 12px;}

.footer_menu ul li::after{content: ""; display: block; width: 1px; height: 15px; background-color: #A4A4A4; position: relative; right: 15px; bottom: 16px;}

.footer_menu ul li:first-child::after{display: none;transform: rotate();}

.snsWrap{display: flex; gap: 10px;}

.snsWrap div img{width: 30px; height: 30px;}

.footer_text{margin: 30px 0 10px; line-height: 25px;}

.footer_text p:last-child{font-weight: bold;}

.ismsp_wrap{display: flex; align-items: center;  padding-bottom: 20px;}
